<div class="row">
	<div class="col-3">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-4 section-title">LYING</div>
					<div class="col-8">{{model.measureLying}}</div>
				</div>
				<div class="row">
					<div class="col-4 section-title">WAIST</div>
					<div class="col-8 section-title">{{model.measureWaist}}</div>
				</div>
				<div class="row">
					<div class="col-4 section-title">TIGHT</div>
					<div class="col-8 section-title">{{model.measureTight}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-4 section-title">STANDING</div>
					<div class="col-8">{{model.measureStanding}}</div>
				</div>
				<div class="row">
					<div class="col-4 section-title">SNUG</div>
					<div class="col-8">{{model.measureSnug}}</div>
				</div>
				<div class="row">
					<div class="col-4 section-title">LEANING</div>
					<div class="col-8">{{model.measureLeaning}}</div>
				</div>
			</div>
		</div>
	</div>
</div>